.attribution{
  position: relative;
  bottom: 450px;
}
#container{
  width:1440px;
  height: 700px;
  position: relative;
  z-index: 1;
}
h1{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 0px;
  font-size: 18px;
}

p{
  margin: 10px 0px 30px 0px;
  font-weight: 400;
}

thead{
  font-size: 18px;
}
th{
  padding-left: 20px;
  padding-right: 20px;
}
td{
color:hsl(0, 0%, 59%);
font-weight: 400;
letter-spacing: 1px;
text-align: center;
font-size: 12px;
}
table{
  width: 40px;
}
table{
padding: 10px 0px 16px 0px;
}
body{
  background-color: hsl(185, 75%, 39%);
  width: 1440px;
  margin: 0;
  position: relative;
 font-family: 'Kumbh Sans', sans-serif;
}


.bg-top{
  position: relative;
  right: 300px;
  bottom: 500px;
  display: inline-block;
  z-index: 1;
}

.bg-bottom{
  position: relative;
  left: 700px;
  bottom: 650px;
  display: inline;
  z-index: 1;
}

.card-pattern{
display: inline-block;
z-index: 2;
position: relative;
bottom: 551px;
left: 54px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.profile{
  background-color: white;
  width: 350px;
  z-index: 2;
  position: relative;
  bottom: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats{
  font-weight: 700px;
}

.victor{
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  display: inline-block;
  position: relative;
  right: 175px;
  bottom: 550px;
  vertical-align: middle;
  z-index: 3;
}
